@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 180 8% 95%;
        --foreground: 150 8% 5%;

        --card: 160 10% 94%;
        --card-foreground: 150 8% 5%;

        --popover: 160 10% 94%;
        --popover-foreground: 150 8% 5%;

        --primary: 159 68% 35%;
        --primary-foreground: 180 9% 98%;

        --secondary: 160 12% 91%;
        --secondary-foreground: 150 8% 5%;

        --muted: 165 8% 91%;
        --muted-foreground: 160 9% 45%;

        --accent: 165 8% 91%;
        --accent-foreground: 150 8% 5%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 160 9% 87%;
        --input: 160 9% 80%;
        --ring: 159 36% 72%;

        --radius: 0.5rem;

        --primary-10: #020403;
        --primary-20: #101c16;
        --primary-30: #152e23;
        --primary-40: #183c2d;
        --primary-50: #1b4a36;
        --primary-60: #1d5940;
        --primary-70: #1e674b;
        --primary-80: #1e7755;
        --primary-90: #1e8660;
        --primary-100: #1e966b;
        --primary-110: #45a37c;
        --primary-120: #63b08d;
        --primary-130: #7dbd9f;
        --primary-140: #97cab1;
        --primary-150: #b0d7c3;
        --primary-160: #c9e3d6;
    }

    .dark {
        --background: 160 7% 8%;
        --foreground: 180 9% 98%;

        --card: 160 6% 10%;
        --card-foreground: 180 9% 98%;

        --popover: 160 6% 10%;
        --popover-foreground: 180 9% 98%;

        --primary: 159 68% 35%;
        --primary-foreground: 180 9% 98%;

        --secondary: 157 8% 19%;
        --secondary-foreground: 180 9% 98%;

        --muted: 158 7% 29%;
        --muted-foreground: 159 8% 49%;

        --accent: 159 71% 19%;
        --accent-foreground: 180 9% 98%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 156 8% 12%;
        --input: 158 9% 18%;
        --ring: 159 68% 40%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}


:root {
    --loading-dot-color: var(--primary-80)
}